<div class="col-xlg-12 lg md sm xsm calendarBox flex-row-center">
    <div ng-repeat="shift in $ctrl.shifts" class="row col-lg-3 xlg md sm xsm">
        <div class="calendarTile" ng-bind="shift.text"></div>
        <div class="calendarTile" ng-bind="shift.text"></div>
        <div class="calendarTile" ng-bind="shift.text"></div>
        <div class="calendarTile" ng-bind="shift.text"></div>
        <div class="calendarTile" ng-bind="shift.text"></div>
        <div class="calendarTile" ng-bind="shift.text"></div>
        <div class="calendarTile" ng-bind="shift.text"></div>
        <div class="calendarTile" ng-bind="shift.text"></div>
        <div class="calendarTile" ng-bind="shift.text"></div>
        <div class="calendarTile" ng-bind="shift.text"></div>
        <div class="calendarTile" ng-bind="shift.text"></div>
    </div>
</div>