<div class="flex-row-center filterBox">
    <div  class="filtertile" ng-repeat="filter in $ctrl.filters" ng-click="$ctrl.setListProperty(filter.$id)"ng-class="{filtertile_clicked: filter.set}">
        <span> {{ filter.name }} </span>
        <!--<h4> {{ filter.set }}</h4>-->
    </div>
</div>
<form>
    <label class="flex-row">
        <input type="text" ng-model="$ctrl.newListName" class="addFilter">
        <div class="clearBtn" ng-click="$ctrl.addFilter($ctrl.newListName,false)">Add</div>
    </label>
</form>

<div layout-fill id="toast-container">
  <md-content>
    I can have lots of content and scroll!
  </md-content>
</div>

<div ng-controller="MyController">
  <md-button ng-click="showToast()">
    Open a Toast!
  </md-button>
</div>

<!-- ng-class="{filtertile_clicked: filter.set}" -->
<!--<div class="clearBtn" ng-click="$ctrl.addFilter('test',false)">-->
    <!--<input placeHolder="Add filter" >Add filter</input>-->
<!--</div>-->