<div ng-if="$ctrl.isLoggedIn">
	<div class="animate-if col-xlg-12 lg md sm xsm flex-row-start calendarBox">
		<div style="margin-right: 34%; margin-top: 4em; margin-bottom: 0" class="search-animate-class col-xlg-12 lg md sm xsm">
			<md-input-container>
				<label>Search</label>
				<input ng-model="searchTerm" type="text" id="searchBox" class="searchBox" />
			</md-input-container>	
		</div>
	    <div ng-repeat="tech in $ctrl.techs | orderBy:'name' | filter:searchTerm as results " class="animate-repeat row col-lg-3 xlg md sm xsm">
	        <div  class="techTile clearBtn">
	        	<h1 ng-bind="tech.name"></h1>
	        	<h2 ng-if="tech.position">Position: {{ tech.position }} </h2>
	        	<h2 ng-if="tech.supervisor">Supervisor: {{ tech.supervisor }}</h3>
	        </div>
	    </div>
		<div ng-if="results.length <= 0" class="techTile"><h1>Found zilch for '{{ searchTerm }}'</h2></div>
	</div>
</div>
<div ng-show="!$ctrl.isLoggedIn" style="font-size: 3em" class="animate-if filterTile">
	<span>Please sign in</span>
</div>
