<div id="usercard" class="accessBox">
	<div class="">
		<div ng-if="$ctrl.isLoggedIn"class="userImg">
			<img ng-src="{{ $ctrl.currentUser.userImage }}"/>
		</div>
		<div ng-if="$ctrl.isLoggedIn">
			<h2 class="usrName"> {{ $ctrl.currentUser.displayName }} </h2>
			<h3 class="usrLogin"> {{ $ctrl.currentUser.loggedIn }} </h3>
		</div>
		<div ng-if="!$ctrl.isLoggedIn">
			<h3 class="usrName">Sign in and check it out!</h3>
		</div>
	</div>		
	<div style="border: none;"class="clearBtn">
		<!-- <span ng-bind="$ctrl.login"></span> -->
	    <div  class="loginButton animate-if" ng-if="!$ctrl.isLoggedIn" ng-click="$ctrl.signIn('google')" >
	        <div>Sign in</div>
	    </div>

	    <div class="loginButton animate-if" ng-if="$ctrl.isLoggedIn" ng-click="$ctrl.logout()">
	        <div> Sign out </div>
	    </div>
	</div>
</div>