<div style="border: none;">

    <div  class="animate-show" ng-show="!$ctrl.isLoggedIn" ng-click="$ctrl.signIn('google')" >
        <span class="smallTitle">Sign in</span>
    </div>

    <div class="animate-show" ng-show="$ctrl.isLoggedIn" ng-click="$ctrl.logout()">
    	<div>
        	<div class="userImg">
        		<img ng-src="{{ $ctrl.currentUser.photoURL }}"/>
				<div class="accessBox">
				<div ng-show="$ctrl.isLoggedIn" class="animate-show">
					<h2 class="usrName"> {{ $ctrl.currentUser.displayName }} </h2>
					<h3 class="usrLogin"> {{ $ctrl.currentUser.loggedIn }} </h3>
				</div>
				<div ng-show="!$ctrl.isLoggedIn" class="animate-show">
					<h3 class="usrName">Sign in and check it out!</h3>
				</div>
			</div>		
        </div>
    </div>
</div>