*{
    box-sizing: border-box;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
}

.clearBtn{
    padding: .5em;
    cursor: pointer;
    margin: 10px;

    border: 2px solid black;
    text-align: center;
    color: ghostWhite;
    text-shadow: 1px 2px 1px black;

    transition: all .25s ease-in;
}
.clearBtn:hover{
    border: 2px solid ghostWhite;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

#header{
    font-family: 'Roboto', sans-serif;
    font-size: .1em;
    text-shadow: 0 1px 1px black;
    text-align: end;
}

#header h3{
    text-align: center;
}

.header_banner{
    z-index: 1;

    overflow: hidden;
    border-bottom-left-radius: 20px;
    color: white;
}


.background{
    background: transparent url('../resources/background/warped_wood_edited.jpg') center no-repeat;
    background-size: cover;
    /*padding-bottom: 50vh;*/
    min-height: 100vh;
}


.navButton{
    margin: .25em;
    padding: .75em;
    z-index: 10;
    background: transparent;
    box-shadow: none;
}

.navButton:hover{
    font-style: bold;
    border: 2px solid white;
    color: white;
    /*background: linear-gradient(-183deg,rgba(0,0,0,0.10),rgba(0,0,0,0.30));*/
    box-shadow: 2px 5px 15px black;
}

#navButtonContainer{
    overflow: hidden;
    float: left;
    z-index: 5;
}

.flex-row{
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
}


.maincontainer{
    position: relative;
    height: 95vh;
    background: linear-gradient(133deg,rgba(190,255,252,0.85),rgba(178,164,97,0.35));
    z-index: 10;
    margin: 10px 1vw;
}


.calendarBox{
    /*background: linear-gradient(133deg,rgba(255,239,164,0.80),transparent);*/
    padding: 1.5em;
    max-height: 80vh;
    overflow: auto;
}

.calendarBox::-webkit-scrollbar{ 
    display: none; 
}

.calendarTile{
    background: linear-gradient(-140deg,rgba(190,255,252,0.80),rgba(190,255,252,0.30));
    padding: 1.5em;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    z-index: 15;
    margin: 1px;

    transition: all .25s ease-out;
}

.calendarTile:hover{
    box-shadow: 2px 5px 15px black;
    transform: rotate(7deg);
    z-index: 200;
}

.leftContainer{
    width: 32vw;
    height: 80vh;
    background: linear-gradient(-133deg,rgba(204,111,187,0.65),rgba(204,111,187,0));
    overflow: auto;
    float: left;
    padding: 1em;
}

.filterBox{
    padding: 1em;
    height: 40%;
    overflow: auto;
    align-self: flex-start;
}


.loginBox{
    border: 1px solid white;
    padding: .5em;
    overflow: hidden;
    align-self: flex-end;
}


.loginButton:hover{
    box-shadow: 2px 5px 15px black;
}

.filtertile{
    margin: 1px;
    outline: 0;
    z-index: 15;
    border-radius: 5px;
    border: 2px solid black;    
    font-size: 1.25em;
}
.filtertile:hover{
    box-shadow: 2px 5px 10px rgba(0,0,0,0.65);
    z-index: 20;
    border: 2px solid ghostWhite;
    transform: rotate(-7deg);
}

.filtertile_clicked{
    transform: rotate(7deg);
    outline: 0;
}

.addFilter , .addFilter:active , .addFilter:hover{
    /*background: linear-gradient(-90deg,transparent,rgba(0,0,0,0.15));*/
    background: transparent;
    outline: 0;
    border: none;
    border-bottom: 2px solid black;
    color: white;
    text-shadow: 1px 2px 1px black;
    font-size: 1.25em;
    padding: .25em;
}

.flex-row-start{
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

.flex-row-center{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
}


.flex-col{
    display: flex;
    flex-flow: column wrap;
}


.addPad{
    padding: 1em;
}



.techTile{
    /*background: linear-gradient(-133deg,rgb(255,255,255),transparent);*/
    background-color: rgba(0,0,0,0.20);
    z-index: 0;
    margin: 1px;
    transition: all .25s ease-out;
    border-radius: 5px;
    color: ghostWhite;
    border: 2px solid black;
    border-radius: 0px;
}
.techTile:hover{
    box-shadow: 2px 5px 15px black;
    /*transform: rotate(7deg);*/
    z-index: 200;
}
.techTile h1{font-size: 1.25em;padding: 0;margin: 0;}
.techTile h2{font-size: .75em;padding: 0;margin: 0;text-align: start;}




.container::-webkit-scrollbar{
    display: none;
}

.noScrollBar::-webkit-scrollbar{
    display: none;
}


.boxTitle{
    width: 100%;
}
