*{
    box-sizing: border-box;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
}

.clearBtn{
    padding: .5em;
    cursor: pointer;
    margin: 10px;

    border: 2px solid black;
    text-align: center;
    color: ghostWhite;
    text-shadow: 1px 2px 1px black;

    transition: all .25s ease-in;
}
.clearBtn:hover{
    border: 2px solid ghostWhite;
    border-radius: 25px;
    outline: 0;
}

.clearBtn:active{
    outline:0;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

#header{
    font-family: 'Roboto', sans-serif;
    font-size: .1em;
    text-shadow: 0 1px 1px black;
    text-align: end;
}

#header h3{
    text-align: center;
}

.header_banner{
    z-index: 1;
    margin: 2em 0;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    color: white;
}


.background{
    position: absolute;

    background: transparent url('../resources/background/warped_wood_edited_dark.jpg') right no-repeat;
    background-size: cover;
    /*padding-bottom: 50vh;*/
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
    overflow: auto;
    padding-bottom: 0;
}


.navButton{
    border-left: 2px solid rgba(0,0,10,0.75);
    /*background: linear-gradient(34deg,rgba(204,125,0,0),rgba(204,125,0,0.3),rgba(204,125,0,0.4));*/
    /*background: linear-gradient(34deg,rgba(204,125,0,1),rgba(204,125,0,0.3),rgba(204,125,0,0.4));*/
    background: transparent;
    color: white;
    text-align: left;
    transition: all .25s ease-in;
    min-width: 80%;
}

.navButton:hover{
    border-left: 15px solid rgba(0,0,0,0.75);
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.flex-row{
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
}


.maincontainer{
    position: relative;
    height: 95vh;
    background: linear-gradient(133deg,rgba(190,255,252,0.85),rgba(178,164,97,0.35));
    z-index: 10;
    margin: 10px 1vw;
}


.calendarBox{
    /*background: linear-gradient(64deg,rgba(204,125,0,0),rgba(204,125,0,0.3),rgba(204,125,0,0.6));*/
    /*background: linear-gradient(64deg,rgba(0,0,0,.55),rgba(0,0,0,0.2),rgba(0,0,0,0.45));*/
    padding: 0.5em;
    max-height: 70vh;
    max-width: 65vw;
    min-width: 25vw;
    
    overflow: auto;
    /*min-height: 70vh;*/
    justify-content: center;
    margin-bottom: 0;
}

.calendarBox::-webkit-scrollbar{ 
    display: none; 
}

.calendarTile{
    background: linear-gradient(-140deg,rgba(190,255,252,0.80),rgba(190,255,252,0.30));
    padding: 1.5em;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    z-index: 15;
    margin: 1px;

    transition: all .25s ease-out;
}

.calendarTile:hover{
    box-shadow: 2px 5px 15px black;
    transform: rotate(7deg);
    z-index: 200;
}

.leftContainer{
    width: 32vw;
    height: 80vh;
    background: linear-gradient(-133deg,rgba(204,111,187,0.65),rgba(204,111,187,0));
    overflow: auto;
    float: left;
    padding: 1em;
}


.loginbox{
    /*background-color: green;*/
    height: 3.5em;
    width: 100%;
    overflow: hidden;
    transition: all .5s ease-in;
}

.userImg{
    margin: 5px;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    overflow: hidden;
    transition: all .75s ease-out;
}

.userImg:hover {
    transform: rotate(-360deg);
}


.loginButton{
    outline: 0;
    width: 100px;
    cursor: pointer;
}

.loginButton:active{
    outline: 0;
}

.infoBox{
    opacity: 1;
    /*margin-top: 4em;*/
    /*float: right;*/
    transition: all 1.5s ease-in;
    font-size: .75em;
    text-align: center;
    padding: 5px;
    /*padding-top: 10px;*/
}
.infoBox p{
    padding: 0;
    margin: 0;
}

.usrName , .usrLogin{
    padding: 0;
    margin: 0;
    font-size: 1em;
    color: white;
    text-shadow: 1px 2px black;
    opacity: 1;
    transition: all .5s ease-out;
}

.usrLogin{
    bottom: -1.5em;
}

.filterBox{
    padding: 1em;
    max-height: 25vh;
    overflow: auto;
    position: relative;
    top: -2em;
    /*border-bottom: 2px solid rgb(204,125,0);*/
}

.filtertile{
    margin: 0;
    outline: 0;
    z-index: 15;
    border-radius: none;
    border: 2px solid rgba(95,54,20,0);
    font-size: 1.25em;
    /*box-shadow: 0 0 10px rgba(205,88,22,0.75);*/
    /*background: linear-gradient(34deg,rgba(204,125,0,0),rgba(204,125,0,0.3),rgba(204,125,0,0.4));*/
    /*background: linear-gradient(165deg,transparent,rgba(204,88,26,0.53),rgba(204,88,66,.2));*/
}
.filtertile:hover{
    box-shadow: 2px 5px 10px rgba(0,0,0,0.65);
    z-index: 20;
    border: 2px solid ghostWhite;
    border-radius: 5px;
    /*transform: rotate(-7deg);*/
}

.filtertile_clicked{
    transform: rotate(7deg);
    outline: 0;
}

.searchBox{
    transition: all .5s ease-in;
    /*background: linear-gradient(-90deg,transparent,rgba(0,0,0,0.15));*/
    outline: 0;
    color: ghostWhite;
    font-size: 2em;
}

/*.searchBox:focus{
    background: linear-gradient(64deg,rgba(0,0,0,.55),rgba(0,0,0,0.2),rgba(0,0,0,0.45));
}*/

.searchBox:focus,
.searchBox:hover,
.searchBox:active{
    color: White;
    outline: 0;
    border-color: rgb(204,125,0);
    text-shadow: 1px 2px 2px black;
    /*border: none;*/
    /*border: 2px solid black;*/
    /*border-bottom: 2px solid green;*/
    /*box-shadow: inset 2px 5px 15px rgba(0,0,0,0.30),5px 10px 25px rgba(0,0,0,0.10) */
}

.flex-row-start{
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

.flex-row-center{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
}


.flex-col{
    display: flex;
    flex-flow: column wrap;
}


.addPad{
    padding: 1em;
}

.techTile{
    /*background: linear-gradient(-180deg,transparent,rgba(0,0,0,0.5),transparent);*/
    margin: 0;
    transition: all .5s ease-out;
    color: ghostWhite;
    padding: .75em;
    border: none;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    text-transform: capitalize;
}
.techTile:hover{
    box-shadow: 2px 5px 15px black;
    /*transform: rotate(7deg);*/
    border: 1px solid ghostWhite;
    z-index: 200;
}
.techTile h1{font-size: 1.25em;padding: 0;margin: 4px 0;}
.techTile h2{font-size: .75em;padding: 0;margin: 0;text-align: start;}




.container::-webkit-scrollbar{
    display: none;
}

.noScrollBar::-webkit-scrollbar{
    display: none;
}


.boxTitle{
    top: -2em;
    width: 100%;
    position: relative;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


.level2{
    color: blue;
}


.pageContainer{
    overflow: auto;
    max-height: 100vh;
    max-width: 100vw;
    padding-bottom: 2.5em;
}


md-input-container label{
    font-size: 1.5em;
    color: ghostWhite;
    text-shadow: 1px 2px 2px black;
}
md-input-container:not(.md-input-invalid).md-input-has-value label,
md-input-container:not(.md-input-invalid).md-input-focused label{
    color: white;
    color: rgba(169,169,169,0.75);
}

md-input-container input{
    border-color: rgba(204,125,0);
}


.smallTitle{
    color: ghostWhite;
    font-size: .75em;
    text-decoration: none;
    margin: 0;
    padding: 0;
    float:right;
}

.md-content.md-default-theme, .md-content{
    background-color: transparent;
}

.md-nav-bar .md-button._md-nav-button.md-unselected,
.md-button.md-default-theme.md-primary,
.md-button.md-primary{
    color: white;
}

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }



.testClass{
    min-height: 10em;
    min-width: 10em;
    background: blue;
}




/* Extra small devices (phones, less than 768px) */
@media (max-width:767px) {
  body,.navButton,.md-button{font-size: 12px;}
}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
  body,.navButton,.md-button{font-size: 35px;}
  .navButton{padding: 1.5em;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px) {
  body,.navButton,.md-button {font-size: 15px;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width:1200px) {
  body,.navButton,.md-button {font-size: 20px;}
}

