*{
    box-sizing: border-box;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
}

.clearBtn{
    padding: .5em;
    cursor: pointer;
    margin: 10px;

    border: 2px solid black;
    text-align: center;
    color: ghostWhite;
    text-shadow: 1px 2px 1px black;

    transition: all .25s ease-in;
}
.clearBtn:hover{
    border: 2px solid ghostWhite;
    border-radius: 25px;
    outline: 0;
}

.clearBtn:active{
    outline:0;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

#header{
    font-family: 'Roboto', sans-serif;
    font-size: .1em;
    text-shadow: 0 1px 1px black;
    text-align: end;
}

#header h3{
    text-align: center;
}

.header_banner{
    z-index: 1;
    margin: 3em 0;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    color: white;
}


.background{
    position: absolute;

    background: transparent url('../resources/background/warped_wood_edited.jpg') center no-repeat;
    background-size: cover;
    /*padding-bottom: 50vh;*/
    min-height: 100vh;
    min-width: 100vw;
    overflow: auto;
}


.navButton{
    margin: .25em;
    padding: .75em;
    z-index: 10;
    background: transparent;
    /*background: linear-gradient(165deg,transparent,rgba(95,54,20,0.3),rgba(95,54,200,.2));*/
    box-shadow: none;
}

.navButton:hover{
    font-style: bold;
    border: 2px solid white;
    color: white;
    background: linear-gradient(165deg,transparent,rgba(95,54,20,0.3),rgba(95,54,200,.2));

    /*background: linear-gradient(-183deg,rgba(0,0,0,0.10),rgba(0,0,0,0.30));*/
    box-shadow: 2px 5px 15px black;
}

#navButtonContainer{
    overflow: hidden;
    float: left;
    z-index: 5;
}

.flex-row{
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
}


.maincontainer{
    position: relative;
    height: 95vh;
    background: linear-gradient(133deg,rgba(190,255,252,0.85),rgba(178,164,97,0.35));
    z-index: 10;
    margin: 10px 1vw;
}


.calendarBox{
    background: linear-gradient(64deg,rgba(0,0,0,.55),rgba(0,0,0,0.2),rgba(0,0,0,0.45));
    padding: 0.5em;
    max-height: 80vh;
    overflow: auto;
}

.calendarBox::-webkit-scrollbar{ 
    display: none; 
}

.calendarTile{
    background: linear-gradient(-140deg,rgba(190,255,252,0.80),rgba(190,255,252,0.30));
    padding: 1.5em;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    z-index: 15;
    margin: 1px;

    transition: all .25s ease-out;
}

.calendarTile:hover{
    box-shadow: 2px 5px 15px black;
    transform: rotate(7deg);
    z-index: 200;
}

.leftContainer{
    width: 32vw;
    height: 80vh;
    background: linear-gradient(-133deg,rgba(204,111,187,0.65),rgba(204,111,187,0));
    overflow: auto;
    float: left;
    padding: 1em;
}


.accessBox{
    overflow: hidden;
    height: 4.5em;

    border: 2px solid white;
    width: 7.5em;
    position: absolute;
    padding: .5em;
    top: 5px;
    right: 5px;
    transition: all .5s ease-in;
    border: 2px solid transparent;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.accessBox:hover{
    width: 40vw;
    border: 2px solid white;
}
.accessBox:hover .userImg{
    opacity: 1;
    display: block;
}

.accessBox:hover .usrName{
    opacity: 1;
    top: 0;
}

.accessBox:hover .usrLogin{
    opacity: 1;
    top: 1em;
    left: 4.5em;
}
.userImg{
    width: 3.5em;
    height: 3.5em;
    border: 2px solid rgba(250,249,255,0.7);
    border-radius: 50%;
    position: absolute;
    margin: 0;
    left: 0.5em;
    opacity: 0;
    overflow: hidden;
    transition: all .5s ease-out;
}
.usrName , .usrLogin{
    position: absolute;
    left: 4.25em;
    top: 5em;
    font-size: 1em;
    color: white;
    text-shadow: 1px 2px black;
    opacity: 0;
    transition: all .5s ease-out;
}

.usrLogin{
    top: -1.5em;
}
.loginButton{
    position: absolute;
    top: 0.1em;
    border: none;
    right: 0.1em;
    outline: 0;
    width: 100px;

}
.loginButton:hover{
    border-radius: 25px;
    outline: 0;
}

.loginButton:active{
    outline: 0;
}

.filterBox{
    padding: 1em;
    height: 40%;
    overflow: auto;
    align-self: flex-start;
}

.filtertile{
margin: 1px;
    outline: 0;
    z-index: 15;
    border-radius: none;
    border: 1px solid rgba(95,54,20,0.90);
    font-size: 1.25em;
    box-shadow: 0 0 10px rgba(95,31,22,0.75);
    background: linear-gradient(165deg,transparent,rgba(95,54,20,0.3),rgba(95,54,200,.2));
}
.filtertile:hover{
    box-shadow: 2px 5px 10px rgba(0,0,0,0.65);
    z-index: 20;
    border: 1px solid ghostWhite;
    border-radius: 5px;
    /*transform: rotate(-7deg);*/
}

.filtertile_clicked{
    transform: rotate(7deg);
    outline: 0;
}

.addFilter , .addFilter:active , .addFilter:hover{
    /*background: linear-gradient(-90deg,transparent,rgba(0,0,0,0.15));*/
    background: transparent;
    outline: 0;
    border: none;
    border-bottom: 2px solid black;
    color: white;
    text-shadow: 1px 2px 1px black;
    font-size: 1.25em;
    padding: .25em;
}

.flex-row-start{
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

.flex-row-center{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
}


.flex-col{
    display: flex;
    flex-flow: column wrap;
}


.addPad{
    padding: 1em;
}



.techTile{
    /*background: linear-gradient(-180deg,transparent,rgba(0,0,0,0.5),transparent);*/
    margin: 1px;
    transition: all .25s ease-out;
    color: ghostWhite;
    padding: 1em;
    border: 2px solid transparent;
}
.techTile:hover{
    box-shadow: 2px 5px 15px black;
    /*transform: rotate(7deg);*/
    z-index: 200;
}
.techTile h1{font-size: 1.25em;padding: 0;margin: 0;}
.techTile h2{font-size: .75em;padding: 0;margin: 0;text-align: start;}




.container::-webkit-scrollbar{
    display: none;
}

.noScrollBar::-webkit-scrollbar{
    display: none;
}


.boxTitle{
    width: 100%;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}



